<!-- header top section start -->
<div class="header_top_section">
<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="header_top_main">
            <div class="logo"><a href="{{ path('app_home') }}"><img src="images/logo.jpg"></a></div>
            <div class="call_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +33 749736262</a></div>
            <div class="call_text_2"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> contact@mozaik-peinture.fr</a></div>
            <div class="call_text_1"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 76000, Rouen - FRANCE</a></div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- header section start -->
<div class="header_section">
<div class="container-fluid">
   <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
               <a class="nav-link" href="{{ path('app_about') }}">A propos</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ path('app_service') }}">Nos Services</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ path('app_contact') }}">Nous contacter</a>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <div class="login_text">
               <ul>
                  <li><a href="#">Login</a></li>
                  <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
               </ul>
            </div>
            <div class="quote_btn"><a href="{{ path('app_contact') }}">Cotation</a></div>
         </form>
      </div>
   </nav>
</div>
</div>
<!-- header section end -->

<!-- about sectuion start -->
<div class="about_section layout_padding">
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <h1 class="about_taital">A Propos</h1>
         <p class="about_text">Mozaik-Peinture est une entreprise certifié en en Qualibat, RGE « Reconnu Garant de l'Environnement » et implemente l'ISO 9001 et les bonnes pratiques des ISO 45001 et 14001.</p>
         <h3 class="mb-2">Vision:<img class="img-fluid" src="{{ asset('images/about/icon-2.png') }}" alt=""></h3>
            <p>Être une entreprise de premier choix en Haute Normandie et aux régions d'alentours.</p>
         <h3 class="mb-3">Valeues:<img class="img-fluid" src="{{ asset('images/about/icon-3.png') }}" alt=""></h3>
            <div class="row g-2 mb-4 pb-2">
         <div class="col-sm-6">
            <i class="fa fa-check text-primary me-2"></i>Satisfaction
         </div>
         <div class="col-sm-6">
            <i class="fa fa-check text-primary me-2"></i>Qualité
         </div>
         <div class="col-sm-6">
            <i class="fa fa-check text-primary me-2"></i>Integrité
         </div>
      </div>
         <div class="read_bt_1"><a href="#">Encore +</a></div>
      </div>
      <div class="col-md-6">
         <div class="about_img">
            <div class="video_bt">
               <div class="play_icon"><img src="images/play-icon.png"></div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- about sectuion end -->

<!-- footer section start -->
<div class="footer_section layout_padding">
<div class="container">
   <div class="row">
      <div class="col-md-12">
            <div class="location_text">
            <ul>
               <li>
                  <a href="#"><span class="padding_15"><i class="fa fa-mobile" aria-hidden="true"></i></span> <br>Call +33 749736262</a>
               </li>
               <li class="active">
                  <a href="#"><span class="padding_15"><i class="fa fa-envelope" aria-hidden="true"></i></span> <br>contact@mozaik-peinture.fr</a>
               </li>
               <li>
                  <a href="#"><span class="padding_15"><i class="fa fa-map-marker" aria-hidden="true"></i></span> <br>Location</a>
               </li> 
            </ul>
      </div>
      </div>
   </div>
   <div class="footer_section_2">
      <div class="row">
            <div class="col-md-4">
            <h2 class="useful_text">LIENS RAPIDES</h2>
            <div class="footer_menu">
               <ul>
                  <li><a href="{{ path('app_about') }}">A Propos</a></li>
                  <li><a href="{{ path('app_service') }}">Nos Services</a></li>
                  <li><a href="{{ path('app_contact') }}">Nous contacter</a></li>
               </ul>
            </div>
      </div>
            <div class="col-md-4">
            <h2 class="useful_text">Notre Portfolio</h2>
            <p class="lorem_text">Est constitué des spécialités en peintures, isolations, nettoyage et revêtements des sols.</p>
            </div>
            <div class="col-md-4">
            <h2 class="useful_text">Notre NEWSLETTER</h2>
            <div class="form-group">
               <textarea class="update_mail" placeholder="Enter Your Email" rows="5" id="comment" name="Enter Your Email"></textarea>
               <div class="subscribe_bt"><a href="{{ path('app_news') }}">S'Abonner</a></div>
            </div>
            </div>
      </div>
   </div>
   <div class="social_icon">
      <ul>
            <li>
               <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
               <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
               <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li>
               <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
      </ul>
   </div>
</div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <p class="copyright_text">2024 All Rights Reserved. Design by SILVA Príncipe<a href="https://verexao.com"></a></p>
        </div>
    </div>
</div>
</div>
<!-- copyright section end -->
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>