<!-- header top section start -->
<div class="header_top_section">
<div class="container">
   <div class="row">
      <div class="col-sm-12">
         <div class="header_top_main">
            <div class="logo"><a href="{{ path('app_home') }}"><img src="images/logo.jpg"></a></div>
            <div class="call_text"><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +33 749736262</a></div>
            <div class="call_text_2"><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i> contact@mozaik-peinture.fr</a></div>
            <div class="call_text_1"><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 76000, Rouen - FRANCE</a></div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- header section start -->
<div class="header_section">
<div class="container-fluid">
   <nav class="navbar navbar-expand-lg navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
               <a class="nav-link" href="{{ path('app_about') }}">A propos</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ path('app_service') }}">Nos Services</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{ path('app_contact') }}">Nous contacter</a>
            </li>
         </ul>
         <form class="form-inline my-2 my-lg-0">
            <div class="login_text">
               <ul>
                  <li><a href="#">Login</a></li>
                  <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
               </ul>
            </div>
            <div class="quote_btn"><a href="{{ path('app_contact') }}">Cotation</a></div>
         </form>
      </div>
   </nav>
</div>

<!-- banner section start -->
<div class="banner_section layout_padding">
   <div id="my_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="banner_taital_main">
                        <h1 class="banner_taital">MOZAIK-PEINTURE</h1>
                        <p class="banner_text">Mozaik Peinture est votre Partenaire depuis plus de quatre année à votre service pour assurer les couleurs de votre environnement et votre bien-ëtre.</p>
                        <div class="btn_main">
                           <div class="started_text active"><a href="{{ path('app_contact') }}">Nous contacter</a></div>
                           <div class="started_text"><a href="{{ path('app_service') }}">Nos services</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="banner_taital_main">
                        <h1 class="banner_taital">MOZAIK-PEINTURE</h1>
                        <p class="banner_text">Avec Mozaik-Peinture vous assurer les couleurs de votre environnement et selon les besoins de votre bien-être.</p>
                        <div class="btn_main">
                           <div class="started_text active"><a href="{{ path('app_contact') }}">Nous contacter</a></div>
                           <div class="started_text"><a href="{{ path('app_about') }}">A Propos</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="banner_taital_main">
                        <h1 class="banner_taital">MOZAIK-PEINTURE</h1>
                        <p class="banner_text">Avec Mozaik-Peinture le confort visuel des couleurs de votre structure industrielle, habitationnelle sportive et de plaisir est un atout.</p>
                        <div class="btn_main">
                           <div class="started_text active"><a href="{{ path('app_contact') }}">Nous contacter</a></div>
                           <div class="started_text"><a href="{{ path('app_about') }}">A Propos</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
      <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#" role="button" data-slide="next">
      <i class="fa fa-angle-right"></i>
      </a>
   </div>
</div>
<!-- banner section end -->
</div>
<!-- header section end -->
<!-- services section start -->
<div class="services_section layout_padding">
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <h1 class="services_taital">Nos Services</h1>
         <p class="services_text_1">Nos Services se résument en travaux, et Mozaik-Peinture est votre Prestataire pour tous les travaux en peintures, nettoyage, isolation, revëtements des sols.</p>
      </div>
   </div>
   <div class="services_section_2">
      <div class="row">
         <div class="col-lg-3 col-sm-6">
            <div class="box_main active">
               <div class="service_img"><img src="images/icon-1.png"></div>
               <h4 class="development_text">Travaux de Peintures</h4>
               <p class="services_text">Mozaik-Peinture developpe tous sortes de travaux en peintures des plus petites structures aux plus grandes - bureaux, maisons, immeubles et espaces industriels.</p>
               <div class="readmore_bt"><a href="#">Encore +</a></div>
            </div>
         </div>
         <div class="col-lg-3 col-sm-6">
            <div class="box_main">
               <div class="service_img"><img src="images/icon-2.png"></div>
               <h4 class="development_text">Travaux de Nettoyage</h4>
               <p class="services_text">Pour tous travaux de peintures, Mozaik-Peinture assure le nettoyage non seulement des espaces des chantiers, mais aussi des espaces industriels, habitationnels, bureaux et autres.</p>
               <div class="readmore_bt"><a href="#">Encore +</a></div>
            </div>
         </div>
         <div class="col-lg-3 col-sm-6">
            <div class="box_main">
               <div class="service_img"><img src="images/icon-3.png"></div>
               <h4 class="development_text">Travaux d'Isolation</h4>
               <p class="services_text">L'isolation des mûrs et des structures est aussi l'un des travaux de specialité du portefeuille de Mozaik-Peinture, travaux d'isolation thermique des édiffices.============</p>
               <div class="readmore_bt"><a href="#">Encore +</a></div>
            </div>
         </div>
         <div class="col-lg-3 col-sm-6">
            <div class="box_main">
               <div class="service_img"><img src="images/icon-4.png"></div>
               <h4 class="development_text">Revêtement des Sols</h4>
               <p class="services_text">Autre branche du portefeuille des services ou travaux de Mozaik-Peinture pour la stabilité des sols des maisons, des espaces industriels, workshops, bureaux, ...</p>
               <div class="readmore_bt"><a href="#">Encore +</a></div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- services section end -->

<!-- about sectuion start -->
<div class="about_section layout_padding">
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <h1 class="about_taital">A Propos</h1>
         <p class="about_text">Mozaik-Peinture est une entreprise certifié en Qualibat, RGE « Reconnu Garant de l'Environnement » et implemente l'ISO 9001 et les bonnes pratiques des ISO 45001 et 14001.</p>
         <h3 class="mb-2">Vision:<img class="img-fluid" src="{{ asset('images/about/icon-2.png') }}" alt=""></h3>
            <p>Être une entreprise de premier choix en Haute Normandie et aux régions d'alentours.</p>
         <h3 class="mb-3">Valeues:<img class="img-fluid" src="{{ asset('images/about/icon-3.png') }}" alt=""></h3>
            <div class="row g-2 mb-4 pb-2">
         <div class="col-sm-6">
            <i class="fa fa-check text-primary me-2"></i>Satisfaction
         </div>
         <div class="col-sm-6">
            <i class="fa fa-check text-primary me-2"></i>Qualité
         </div>
         <div class="col-sm-6">
            <i class="fa fa-check text-primary me-2"></i>Integrité
         </div>
      </div>
         <div class="read_bt_1"><a href="#">Encore +</a></div>
      </div>
      <div class="col-md-6">
         <div class="about_img">
            <div class="video_bt">
               <div class="play_icon"><img src="images/play-icon.png"></div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- about sectuion end -->

<!-- projects section start -->
<div class="projects_section layout_padding">
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <h1 class="projects_taital">Nos Realisations</h1>
         <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
               <ul class="nav " data-tabs="tabs">
                  <li class="nav-item">
                     <a class="nav-link active" href="#" data-toggle="tab">Travaux</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link " href="#" data-toggle="tab">Peintures</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link " href="#" data-toggle="tab">Nettoyages</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link " href="#" data-toggle="tab">Isolation</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link " href="#" data-toggle="tab">Revêtement des sols</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="projects_section_2 layout_padding">
   <div class="container">
      <div class="pets_section">
         <div class="pets_section_2">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-md-4">
                           <div class="container_main">
                              <img src="images/img-1.png" alt="" class="image">
                              <div class="overlay">
                                 <div class="text">
                                    <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                 </div>
                              </div>
                           </div>
                           <div class="project_main">
                              <h2 class="work_text">Travaux d'Isolation</h2>
                              <p class="dummy_text">Projet réaliser en date du jj/mm/aaaa pour le client XXXX, durant yy mois.</p>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="container_main">
                              <img src="images/img-2.png" alt="" class="image">
                              <div class="overlay">
                                 <div class="text">
                                    <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                 </div>
                              </div>
                           </div>
                           <div class="project_main">
                              <h2 class="work_text">Travaux de Nettoyage</h2>
                              <p class="dummy_text">Projet réaliser en date du jj/mm/aaaa pour le client XXXX, durant yy mois.</p>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="container_main">
                              <img src="images/img-3.png" alt="" class="image">
                              <div class="overlay">
                                 <div class="text">
                                    <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                 </div>
                              </div>
                           </div>
                           <div class="project_main">
                              <h2 class="work_text">Travaux de Revêtement</h2>
                              <p class="dummy_text">Projet réaliser en date du jj/mm/aaaa pour le client XXXX, durant yy mois.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-4">
                           <div class="container_main">
                              <img src="images/img-4.png" alt="" class="image">
                              <div class="overlay">
                                 <div class="text">
                                    <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                 </div>
                              </div>
                           </div>
                           <div class="project_main">
                              <h2 class="work_text">travaux de </h2>
                              <p class="dummy_text">Projet réaliser en date du jj/mm/aaaa pour le client XXXX, durant yy mois.</p>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="container_main">
                              <img src="images/img-5.png" alt="" class="image">
                              <div class="overlay">
                                 <div class="text">
                                    <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                 </div>
                              </div>
                           </div>
                           <div class="project_main">
                              <h2 class="work_text">Travaux de</h2>
                              <p class="dummy_text">Projet réaliser en date du jj/mm/aaaa pour le client XXXX, durant yy mois.</p>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="container_main">
                              <img src="images/img-6.png" alt="" class="image">
                              <div class="overlay">
                                 <div class="text">
                                    <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                 </div>
                              </div>
                           </div>
                           <div class="project_main">
                              <h2 class="work_text">Travaux de </h2>
                              <p class="dummy_text">Projet réaliser en date du jj/mm/aaaa pour le client XXXX, durant yy mois.</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-md-4">
                           <div class="container_main">
                              <img src="images/img-7.png" alt="" class="image">
                              <div class="overlay">
                                 <div class="text">
                                    <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                 </div>
                              </div>
                           </div>
                           <div class="project_main">
                              <h2 class="work_text">Travaux de</h2>
                              <p class="dummy_text">Projet réaliser en date du jj/mm/aaaa pour le client XXXX, durant yy mois.</p>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="container_main">
                              <img src="images/img-8.png" alt="" class="image">
                              <div class="overlay">
                                 <div class="text">
                                    <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                 </div>
                              </div>
                           </div>
                           <div class="project_main">
                              <h2 class="work_text">Travaux de</h2>
                              <p class="dummy_text">Projet réaliser en date du jj/mm/aaaa pour le client XXXX, durant yy mois.</p>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="container_main">
                              <img src="images/img-3.png" alt="" class="image">
                              <div class="overlay">
                                 <div class="text">
                                    <h4 class="some_text"><i class="fa fa-link" aria-hidden="true"></i></h4>
                                 </div>
                              </div>
                           </div>
                           <div class="project_main">
                              <h2 class="work_text">Travaux de</h2>
                              <p class="dummy_text">Projet réaliser en date du jj/mm/aaaa pour le client XXXX, durant yy mois.</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- projects section end -->
<!-- testimonial section start -->
<div class="testimonial_section layout_padding">
<div class="container">
   <div id="costum_slider" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="testimonial_taital">Temoignages</h1>
                  <div class="testimonial_section_2">
                  <h2 class="client_name_text">Client-1: XXXX<span style="float: right;"><img src="images/quick-icon.png"></span></h2>
                  <p class="textimonial_text">Client satisfait pour le travaux de mmmmmmmmmm.</p>
               </div>
               <div class="testimonial_section_2">
                  <h2 class="client_name_text"><img src="images/quick-icon.png"> <span style="float: right;">Client-2: YYYY</span></h2>
                  <p class="textimonial_text">Client satisfait pour le travaux de mmmmmmmmmm.</p>
               </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="testimonial_taital">Temoignages</h1>
                  <div class="testimonial_section_2">
                  <h2 class="client_name_text">Client-3: ZZZZ<span style="float: right;"><img src="images/quick-icon.png"></span></h2>
                  <p class="textimonial_text">Client satisfait pour le travaux de mmmmmmmmmm.</p>
                  </div>
                  <div class="testimonial_section_2">
                  <h2 class="client_name_text"><img src="images/quick-icon.png"> <span style="float: right;">Client-4: AAAA</span></h2>
                  <p class="textimonial_text">Client satisfait pour le travaux de mmmmmmmmmm.</p>
               </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="row">
               <div class="col-md-12">
                  <h1 class="testimonial_taital">Temoignages</h1>
                  <div class="testimonial_section_2">
                  <h2 class="client_name_text">Client-5: BBBB<span style="float: right;"><img src="images/quick-icon.png"></span></h2>
                  <p class="textimonial_text">Client satisfait pour le travaux de mmmmmmmmmm.</p>
               </div>
               <div class="testimonial_section_2">
                  <h2 class="client_name_text"><img src="images/quick-icon.png"> <span style="float: right;">Client-6: CCCC</span></h2>
                  <p class="textimonial_text">Client satisfait pour le travaux de mmmmmmmmmm.</p>
               </div>
               </div>
            </div>
      </div>
      </div>
      <a class="carousel-control-prev" href="#" role="button" data-slide="prev">
      <i class="fa fa-angle-left"></i>
      </a>
      <a class="carousel-control-next" href="#" role="button" data-slide="next">
      <i class="fa fa-angle-right"></i>
      </a>
   </div>
</div>
</div>
<!-- testimonial section end -->
<!-- contact section start -->
<div class="contact_section layout_padding">
<div class="container">
   <div class="row">
      <div class="col-md-12">
            <h1 class="contact_taital">Nous contacter</h1>
      </div>
   </div>
</div>
<div class="container-fluid">
   <div class="contact_section_2">
      <div class="row">
            <div class="col-md-6">
            <form action="">
               <div class="mail_section_1">
                  <input type="text" class="mail_text" placeholder="Name" name="Name">
                  <input type="text" class="mail_text" placeholder="Phone Number" name="Phone Number"> 
                  <input type="text" class="mail_text" placeholder="Email" name="Email">
                  <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                  <div class="send_bt"><a href="mailto:contact@mozaik-peinture.fr">Envoyer</a></div>
               </div>
            </form>
            </div>
            <div class="col-md-6 padding_left_15">
            <div class="contact_img"><img src="images/contact-img.png"></div>
            </div>
      </div>
   </div>
</div>
<div class="map_main">
   <div class="map-responsive">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2594.0522553736696!2d1.1252186765152559!3d49.44572935919469!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e0dc1f2f018eb7%3A0x5235025c84256186!2s104%20Rue%20Grieu%2C%2076000%20Rouen!5e0!3m2!1sen!2sfr!4v1735670900688!5m2!1sen!2sfr" width="600" height="600" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
      {# <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="600" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe> #}
   </div>
</div>
</div>
<!-- contact section end -->
<!-- footer section start -->
<div class="footer_section layout_padding">
<div class="container">
   <div class="row">
      <div class="col-md-12">
            <div class="location_text">
            <ul>
               <li>
                  <a href="#"><span class="padding_15"><i class="fa fa-mobile" aria-hidden="true"></i></span> <br>Call +33 749736262</a>
               </li>
               <li class="active">
                  <a href="{{ path('app_contact') }}"><span class="padding_15"><i class="fa fa-envelope" aria-hidden="true"></i></span> <br>contact@mozaik-peinture.fr</a>
               </li>
               <li>
                  <a href="#"><span class="padding_15"><i class="fa fa-map-marker" aria-hidden="true"></i></span> <br>Location</a>
               </li> 
            </ul>
      </div>
      </div>
   </div>
   <div class="footer_section_2">
      <div class="row">
            <div class="col-md-4">
            <h2 class="useful_text">LIENS RAPIDES</h2>
            <div class="footer_menu">
               <ul>
                  <li><a href="{{ path('app_about') }}">A Propos</a></li>
                  <li><a href="{{ path('app_service') }}">Nos Services</a></li>
                  <li><a href="{{ path('app_contact') }}">Nous contacter</a></li>
               </ul>
            </div>
      </div>
            <div class="col-md-4">
            <h2 class="useful_text">Notre Portfolio</h2>
            <p class="lorem_text">Est constitué des spécialités en peintures, isolations, nettoyage et revêtements des sols.</p>
            </div>
            <div class="col-md-4">
            <h2 class="useful_text">Notre NEWSLETTER</h2>
            <div class="form-group">
               <textarea class="update_mail" placeholder="Enter Your Email" rows="5" id="comment" name="Enter Your Email"></textarea>
               <div class="subscribe_bt"><a href="{{ path('app_news') }}">S'Abonner</a></div>
            </div>
            </div>
      </div>
   </div>
   <div class="social_icon">
      <ul>
            <li>
               <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
               <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
               <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
            <li>
               <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
      </ul>
   </div>
</div>
</div>
<!-- footer section end -->
<!-- copyright section start -->
<div class="copyright_section">
<div class="container">
   <div class="row">
      <div class="col-sm-12">
            <p class="copyright_text">2024 All Rights Reserved. Design by SILVA Príncipe<a href="https://verexao.com"></a></p>
      </div>
   </div>
</div>
</div>
<!-- copyright section end -->
<!-- Javascript files-->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/plugin.js"></script>